.speaker-image {
  width: 50px;
  height: auto;
  border-radius: 30px;
}

.speakers-div-container {
  display: flex;
  overflow-x: auto;
  gap: 25px;
  margin-left: 13px;
}

.speaker-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* 0.5em is too small, on my iphone */

.speaker-name {
  font-size: 0.6em; 
  text-align: center;
  font-weight: bold;
}

.speakers-h3 {
  text-align: center;
  font-family: "Inria Serif", serif;
  font-weight: 600;
  margin: 10px 0px;
}