/* Base styles for the main container */
.main-container {
    padding: 0 20px;
  }
  
  /* Styles for larger screens */
  @media (min-width: 768px) {
    .main-container {
      max-width: 720px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1024px) {
    .main-container {
      max-width: 960px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1200px) {
    .main-container {
      max-width: 1140px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1400px) {
    .main-container {
      max-width: 1320px;
      margin: 0 auto;
    }
  }
  