/*Container CSS */

.series-container {
    min-width: 150px;
    max-width: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Thumbnail CSS */

.thumbnail-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

/* Text CSS */

/* Font and Text Styles */

.title {
    font-size: 0.8em;
}

.meta-title-left {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: hsl(0, 0%, 33%);
    font-size: 0.6em;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px 10px 0px;
    flex-grow: 1;
}




.down-arrow {
    height: 10px;
    width: auto;
}

.meta-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}