.cat-btn {
  /* border: 1px solid black; */
  border-radius: 7px;
  padding: 7px 7px;
  font-weight: bold;
  background-color: #f2f2f2;
  font-size: 0.7em;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.current-cat {
  background-color: #0f0f0f;
  color: white;
}

.categories-h3 {
  text-align: center;
  font-family: "Inria Serif", serif;
  font-weight: 600;
  margin: 10px 0px 10px 0px;
}

.catagories-container {
  padding: 0px 10px 0px 10px;
}
