form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

form div {
    display: flex;
    flex-direction: column;
}

.signup-container {
    margin: 20px;
}

input {
    background-color: grey;
    border: none;
    padding: 10px;
    font-style: "display:none";
}

input[type=text], input[type=password], input[type=email] {
    background-color: #f1f1f1;
}

button[type=submit] {
    color: white;
    background-color: #04AA6D;
    padding: 10px;
    opacity: 0.9;
}

