.title {
  font-family: "Inria Serif", serif;
  font-size: 20px;
  margin: 0px;
  font-weight: 600;
}

.title-p {
  display: flex;
  font-size: 12px;
  width: 250px;
  margin-left: 30px;
}

.title-container {
  background-color: #eeeeee;
  padding-bottom: 15px;
}

.title-hamburger-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 30px;
}