@import "normalize.css/normalize.css";

.top-header {
  background-color: rgb(202, 202, 202);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-info {
  padding: 5px;
  text-align: center;
  margin: 0px;
}

footer {
  background-color: rgb(202, 202, 202);
}

h3 {
  margin: 5px 0px 5px 0px;
  font-size: 18px;
}

.body-div {
  margin-left: 13px;
}

.multiple-series-titles {
  display: flex;
  flex-direction: column;
}

.hamburger {
  width: 30px;
}

.cat-btn {
  /* border: 1px solid black; */
  border-radius: 7px;
  padding: 10px 10px;
  font-weight: bold;
  background-color: #F2F2F2;
  font-size: 0.7em;
}

.catagories-container {
  padding: 10px;
}

.catagories {
  display: flex;
  flex-direction: row;
  gap: 5px;
}