@import "normalize.css/normalize.css";

header {
  background-color: rgb(202, 202, 202);
}

.nav-info {
  padding: 5px;
  text-align: center;
  margin: 0px;
}

footer {
  background-color: rgb(202, 202, 202);
}

h3 {
  margin: 5px 0px 5px 0px;
  font-size: 18px;
}

.body-div {
  margin-left: 13px;
}

.multiple-series-titles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}