@import "normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.top-header {
  background-color: rgb(202, 202, 202);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-info {
  padding: 5px;
  text-align: center;
  margin: 0px;
}

footer {
  background-color: rgb(202, 202, 202);
}

h3 {
  margin: 5px 0px 5px 0px;
  font-size: 18px;
}

.body-div {
  margin-left: 13px;
}

.multiple-series-titles {
  display: flex;
  flex-direction: column;
}

.hamburger {
  width: 30px;
}

.catagories-container {
  padding: 10px 10px 0px 10px;
}

.catagories {
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow-x: auto;
}

.discover {
  width: 20px;
}


header button {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.speakers {
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}